{% extends 'base.html.twig' %}

{% block title %}2-Faktor-Authentifizierung{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="login-form mt-4 p-4">
            <h1 class="h3 mb-3 font-weight-normal">Scannen zur Aktivierung der 2-Faktor Authentifizierung!</h1>

            <img src="{{ path('app_authenticate_2fa_qr_code') }}" alt="QR-Code" id="qrCodeImage">

        </div>
    </div>
{% endblock %}
