{% extends 'base.html.twig' %}

{% block title %}2-Faktor-Authentifizierung{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="card-header">
            <h2>Sicherheitseinstellungen</h2>
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_dashboard_2fa_settings') }}" class="btn btn-primary">
                    2FA-Einstellungen verwalten
                </a>
            </p>
        </div>
    </div>
{% endblock %}
