{% extends 'base.html.twig' %}

{% block title %}Zum Wohlfühlen | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Choose from:</h1>

    <ul>

        {% for data in a %}
        <li>
            {{ data }}
        </li>
        {% endfor %}

    </ul>

{% endblock %}