body
{
    background-color: #17242C;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.property-list i {
    margin-top: 7px;
}

.property-list a {
    color: #fff;
}

.property-details {
    background-color: #222F36;
    border-radius: 5px;
    padding: 5px;
}

.art-list li {
    margin-right: 5px;
}

.property-container {
    background: rgb(23,36,44);
    background: linear-gradient(180deg, rgba(23,36,44,1) 1%, rgba(34,47,54,1) 97%);
    border-radius: 5px;

}

.property-img
{
    width: 100px;
}

.table-dark-custom{
    background-color: #17242c !important;
    color: #fff;
}
.table-dark-custom th,
.table-dark-custom td{
    border-color: #3b3f45;
}
.table-dark-custom tbody tr:nth-child(odd){
    background-color: #2a2d31;
}
.table-dark-custom tbody tr:nth-child(even){
    background-color: #1c1f23;
}