{% apply inline_css %}

<style>

    body, .email-container{
        background-color: #3b3f45;
        padding: 20px;
        font-family: Arial,sans-serif;
    }

    .email-content{
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }
    h1{
        color: #333333;
    }

    h3{
        color: #25a1dd;
    }
</style>
<div class="email-container">
    <div class="email-content">
        <h1>Kontaktanfrage</h1>

            <h3> Die Person {{ name }} hat dir eine Mail gesendet.</h3>

            <p><strong>Die absender Email lautet: </strong> {{ user_email }}</p>
            <p><strong>Die Anfrage hat folgenden Betreff: </strong> {{ subject }}</p>
            <p><strong>Die Mail hat folgenden Inhalt: </strong><br>
                {{ message|nl2br }}</p>
    </div>
</div>

{% endapply %}